.gallery-holder {
  width: 100% !important;
  height: 100% !important;
  position: absolute;;
  top: 0;
  left: 0;
  background-color: #000;
  .thumb-gallery {
    list-style: none;
    margin: 30px 0;
    padding: 0;
    width: 100%;
    li {
      float: left;
      margin: 2px;
      .thumb {
        overflow: hidden;
        .image {
          width: 100%;
          height: 100%;
          .size-1 {
            width: 300px;
            height: 300px;
          }
          .size-2 {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }
}

.img-gallery {
  cursor: pointer;
}
.testeClass {
  .modal-content {
    box-shadow: none;
    background-color: transparent;
  }
  .modal-dialog {
    width: 80% !important;
    margin: 0 auto;
  }
}
img.img-modal-gallery {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  height: 100% !important;
  left: 50%;
  margin-left: -35%;
}
.controls {
  list-style: none;
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 45%;
    i {
      color: #f5f5f5
    }
  }
  .prev {
    left: -30px;
  }
  .next {
    right: -30px;
  }
}

.gallery-sergio {
  margin-top: 2.75%;
  a {
    color: #FFF !important;
    border: none;
    text-decoration: none;
    cursor: pointer;
  }
  .prev,
  .next {
    top: 210px;
    position: absolute;
  }
  .prev:hover,
  .next:hover {
    color: #E8E825;
  }
  .image-desc-size-1 {
    padding-top: 5px;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
  }
  .image-desc-size-2 {
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    margin-top: -6px;
  }
  .text-first-image-holder {
    position: absolute;
    z-index: 3;
    top: 60px;
    left: 90px;
    font-size: 12px;
  }
}
.holder-thumbs {
  list-style: none;
  padding: 0;
  clear: both;
  box-sizing: border-box;
  li {
    float: left;
    box-sizing: border-box;
    margin: 3px;
    &.margin-lg {
      margin: 3.5px;
    }
    &.margin-xl {
      margin: 5px;
    }
  }
}

.ajust-padding-1 {
  padding-left: 20px;
  padding-top: 50px;
}
.ajust-padding-2 {
  padding-left: 20px;
  padding-top: 50px;
}
