<div class="copyright">Copyright &copy; {{$root.today | date: 'yyyy'}} - Sergio Righini</div>

<div class="row" ng-if="$sp.tipo != 'opera'">
  <div class="gallery-holder">
    <div class="col-lg-9 col-lg-offset-3" style="height: 100%">
      <div class="prev" style="width: 20px; height: 100%; position: absolute;left: -18px;bottom:20px">
        <a href="" style="bottom: 10px; position: absolute; z-index: 999" ng-click="goToPrev()">
          <img src="assets/images/seta-esq.png" alt="">
        </a>
      </div>
      <div class="image-holder" style="position: fixed; right: 36px;">
        <img ng-src="http://sergiorighini.com/2016/img/{{image.tipo}}/{{image.img_grande}}" alt="" style="width: 100%; position: absolute; bottom: 0">
        <div class="caption">
          <p class="text-right">
            <span ng-if="image.primeira_linha">
              {{image.primeira_linha}}<br>
              {{image.segunda_linha}}
            </span>

            <a href="{{image.link}}" target="_blank" ng-if="image.link">{{image.texto_link}}

          </p>
        </div>
        <div class="thumb-quick-view" ng-show="showThumbs">
          <ul>
            <li ng-repea="tb in thumbs">{{tb.id}}</li>
          </ul>
        </div>
      </div>
      <div class="next" style="width: 20px; height: 100%; position: absolute;right: 10px;bottom: 20px">
        <a href="" style="bottom: 10px; position: absolute" ng-click="goToNext()">
          <img src="assets/images/seta-dir.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-if="$sp.tipo == 'opera'">
  <div class="gallery-holder">
    <div class="col-lg-8 col-lg-offset-4 pic-holder" ng-style="{'background-image': 'url(http://sergiorighini.com/2016/img/{{image.tipo}}/{{image.img_grande}})','background-position':'350px -50px','background-attachment':'fixed','height':'100%'}">
      <div class="col-lg-6 hidden-xs hidden-sm about-text-holder" ng-bind-html="image.obra_1" style="margin-left: -110px; color: #fff"></div>
      <div class="col-lg-6 hidden-xs hidden-sm about-text-holder" ng-bind-html="image.obra_2" style="color: #FFF"></div>
    </div>
  </div>
</div>
