<nav class="sidemenu hidden-xs hidden-sm" ng-hide="state.current.name == 'main.landing'" fade-effect data-fade="fade-in" data-state="">
  <div class="category-nav" ng-show="state.current.name != 'main.contact'">
    <accordion close-others="true">
      <accordion-group heading="{{item.title}}" panel-class="sidemenu-main-item" ng-repeat="item in menuItems track by $index">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="child in item.children track by $index" class="children">
            <a ui-sref="main.gallery.thumbs({tipo: child.sref, id: child.id, tipoThumb: child.tipo_thumb, page: 1})" ng-class="{'not-active': child.sref == 'cities'}">
              {{child.titlePt}}<br/>
              {{child.titleEn}}
            </a>
            <ul ng-if="child.children" class="nav nav-pills nav-stacked">
              <li ng-repeat="child in child.children" class="c-children">
                <a ui-sref="main.gallery.thumbs({tipo: child.sref, id: child.id, pages: 1})">
                  {{child.titleEn}}
                  <!-- {{child.titlePt}}<br> -->
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </accordion-group>
    </accordion>
  </div>
  <div class="section-nav">
    <ul class="nav nav-pills nav-stacked">
      <li><a ui-sref="main.contact">Contact</a></li>
      <li><a ui-sref="main.home">Home</a></li>
      <li><a ui-sref="main.about">About me</a></li>
      <li ng-if="state.current.name == 'main.contact'">
        <a href="https://www.facebook.com/sergio.righini?fref=ts" target="_new" class="btn-facebook">
          <img src="assets/images/icon-facebook.png" alt="" style="width: 32px; height: 32px;">
        </a>
      </li>
      <li ng-if="state.current.name == 'main.gallery.view'" style="visible: hidden">
        <a
          ng-click="$root.requestFullScreen()"
          class="actionButton"
          style="float: left; margin-right: 4px;cursor: pointer">
          <img src="assets/images/btn-full.png"
               style="width: 30px; float:left" alt="">
          <span style="float: left; padding-top: 8px; padding-left: 4px; text-transform: lowercase">Full screen</span>
        </a>
        <a
          ng-click="closeThumbs()"
          class="actionButton"
          style=" float: left; cursor: pointer">
          <img src="assets/images/btn-thumbs.png"
                 style="width: 30px; float: left" alt="">
          <span style="float: left; padding-top: 8px; padding-left: 4px; text-transform: lowercase">Thumbs</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="mob-sidemenu visible-sm visible-xs">
  <input type="checkbox" id="sidebartoggler" ng-model="showSidemenu">
  <label class="toggle" ng-class="{'far-left': showSidemenu}" ng-init="showSidemenu = false" for="sidebartoggler" ng-click="showSidemenu = !showSidemenu" style="color: #fff">☰</label>

  <div class="sidebar" ng-class="{'show-sdbar': showSidemenu}">
    <accordion close-others="true">
      <accordion-group heading="{{item.title}}" panel-class="sidemenu-main-item" ng-repeat="item in menuItems track by $index">
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="child in item.children track by $index" class="children">
            <a ui-sref="main.gallery.thumbs({tipo: item.sref, id: child.id, tipoThumb: child.tipo_thumb, page: 1})">
              {{child.titlePt}}<br/>
              {{child.titleEn}}
            </a>
            <ul ng-if="child.children" class="nav nav-pills nav-stacked">
              <li ng-repeat="child in child.children" class="c-children">
                <a ui-sref="main.gallery.thumbs({tipo: item.sref, id: child.id, pages: 1})">
                  {{child.titleEn}}
                  <!-- {{child.titlePt}}<br> -->
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </accordion-group>
    </accordion>
    <div class="section-nav">
      <ul class="nav nav-pills nav-stacked">
        <li><a ui-sref="main.contact">Contact</a></li>
        <li><a ui-sref="main.home">Home</a></li>
        <li><a ui-sref="main.about">About me</a></li>
        <li ng-if="state.current.name == 'main.contact'">
          <a href="https://www.facebook.com/sergio.righini?fref=ts" target="_new" class="btn-facebook">
            <img src="assets/images/icon-facebook.png" alt="">
          </a>
        </li>
        <li ng-if="state.current.name == 'main.gallery.view'" style="visible: hidden">
          <a
            ng-click="$root.requestFullScreen()"
            class="actionButton"
            style="float: left; margin-right: 4px; cursor: pointer;">
            <img src="assets/images/btn-full.png"
                 style="width: 30px; float:left" alt="">
            <span style="float: left; padding-top: 8px; padding-left: 4px; text-transform: lowercase">Full screen</span>
          </a>
          <a
            ng-click="closeThumbs()"
            class="actionButton"
            style=" float: left; cursor: pointer">
            <img src="assets/images/btn-thumbs.png"
                 style="width: 30px; float: left" alt="">
            <span style="float: left; padding-top: 8px; padding-left: 4px; text-transform: lowercase">Thumbs</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
